@use "mixins";

body {
  background: #0a0a0a;
  padding: 0;
  margin: 0;
}

.logout-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5em;
  z-index: 500;

  background-color: #0a0a0a;
  border: 1px solid #fafafa;
  color: #fafafa;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.logout-button:hover {
  background-color: #fafafa;
  color: #0a0a0a;

  cursor: pointer;
}
